@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

:root {
    --Almost-White: hsl(0, 0%, 98%);
    --Medium-Gray: hsl(0, 0%, 41%);
    --Almost-Black: hsl(0, 0%, 8%);
}

* {
    box-sizing: border-box;
    margin: 0;
    overflow-x: hidden;
}

body {
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
    min-height: 100vh;
    width: 100vw;
    background-color: var(--Almost-White);
    position: relative;
}

.header {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    gap: 4rem;
}

.logo {
    cursor: pointer;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-block: .5rem;
}

.navbar a {
    padding-inline: 1rem;
    color: var(--Medium-Gray);
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    transition: .3s ease;
}

.navbar a:hover {
    color: var(--Almost-Black);
}

.navbar a img {
    margin-left: .2rem;
    width: 12px;
}

.signup button {
    margin-inline: 1rem;
    font-family: inherit;
    font-size: 16px;
    transition: .3s ease;
}

.btn {
    color: var(--Medium-Gray);
    cursor: pointer;
    border: none;
    background-color: transparent;
    outline: none;
}

.btn:hover {
    color: var(--Almost-Black);
}

.register {
    background-color: transparent;
    color: var(--Medium-Gray);
    border: 2px solid var(--Almost-Black);
    font-family: inherit;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 10px;
}

.register:hover {
    color: var(--Almost-Black);
}

.container {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    min-height: 90vh;
    padding: 2rem 2rem 3rem 5rem;
}

.info {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

.title {
    font-size: 4.75rem;
    margin-top: 5rem;
    margin-bottom: 3.5rem;
}

.description {
    margin: 0 0 56px;
    line-height: 1.5;
    color: var(--Medium-Gray);
    padding-right: 32px;
}

.hero_btn {
    background-color: var(--Almost-Black);
    color: var(--Almost-White);
    font-family: inherit;
    border: 1px solid var(--Almost-Black);
    outline: none;
    cursor: pointer;
    font-size: 18px;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    width: 160px;
    margin-bottom: 5rem;
    transition: .3s ease;
}

.hero_btn:hover {
    background: transparent;
    color: var(--Almost-Black);
}

.logos {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img_hero {
    background: url('./images/image-hero-desktop.png') no-repeat center center/contain;
    min-width: 40vw;
    height: auto;
}

footer {
    font-size: 14px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    text-align: center;
}

footer a {
    color: red;
}